<form action="/pedido" method="POST" class="card bg-dark text-light">

    <div class="card-body p-4">
        <center>
            <h1>Registrar</h1>
        </center>
        <br>

        <div class="mb-3">
            <label for="nameC">Ingrese el nombre del cliente:</label>
            <input type="text" name="nameC" placeholder="nombre del cliente"
                class="form-control rounded-0 bg-dark border-0 text-white">

        </div>
        <div class="mb-3">
            <label for="direccion">ingrese la direccion</label>
            <input type="text" name="direccion" placeholder="direccion"
                class="form-control rounded-0 bg-dark border-0 text-white">

        </div>
        <div class="mb-3">
            <label for="ciudad">Ingrese la ciudad:</label>
            <input type="text" name="ciudad" placeholder="ciudad"
                class="form-control rounded-0 bg-dark border-0 text-white">

        </div>
        <div class="mb-3">
            <label for="telefonoC">Ingrese el telefono:</label>
            <input type="text" name="telefonoC" placeholder="telefono"
                class="form-control rounded-0 bg-dark border-0 text-white">

        </div>
        <div class="mb-3">
            <label for="FechaP">Ingrese la fecha del pedido:</label>
            <input type="text" name="FechaP" placeholder="fecha"
                class="form-control rounded-0 bg-dark border-0 text-white">

        </div>


        <button class="btn btn-primary">hacer pedido</button>

    </div>




</form>